Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, pingdatagovernance/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingintelligence: any of: pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/pa-pf-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/pds-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/pdp-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdg-pd.latest: any of: integration_tests/**/pdg-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-cluster.latest: any of: integration_tests/**/pa-cluster*, pingbase/**/*, pingcommon/**/*, pingaccess/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pi-basic.latest: any of: integration_tests/**/pi-basic*, pingbase/**/*, pingcommon/**/*, pingintelligence/**/*, ci_scripts/*, .gitlab-ci.yml

gdo-677 Fixed error with wrong variable
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

GDO-677 - Fixed incorrect variable in 51 hook
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

gdo-677 Fixing wrong port
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

gdo-677 remove quotes with jq command
  pingaccess/opt/staging/hooks/51-add-engine.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

GDO-683: Build PingData Product Images for 8.2.0.1 and 8.1.0.3
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-673: Sign and Push Images to Artifactory
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-543: Update "Related Docker Images" in Dockerfiles
  pingcentral/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: b.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pi-basic.latest

Rebuild new and untrusted indexes on PD restart
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-430: Remove Internal URLs from Docker Builds
  ci_scripts/ci_tools.lib.sh
  ci_scripts/push_to_github.sh
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Improve PingDirectory restart consistency
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/opt/staging/hooks/182-pre-setup.sh
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
  pingdirectory/opt/staging/hooks/pingdirectory.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

gdo-691 - Updating integration tests for pingaccess clustering tests
  .gitlab-ci.yml
  integration_tests/pa-cluster.latest.test.yml
  integration_tests/pa-cluster.postman_collection.json
  integration_tests/pa-pf-pd.latest.test.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

gdo-692 - preparing for merge
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pa-pf-pd.latest

gdo-692 - remove confusing messages
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

gdo-691 - Add in PF_ADMIN_PRIVATE_PORT_HTTPS
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pa-pf-pd.latest

gdo-691 remove tail
  integration_tests/pa-pf-pd.latest.test.yml
Due: b.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pa-pf-pd.latest

Improve speed of set_server_unavailable offline
  pingdatacommon/opt/staging/hooks/183-run-setup.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Don't build data.zip from _data.zip_ in profile
  pingcommon/opt/staging/hooks/05-expand-templates.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-702: Fix Snapshot Pipeline
  ci_scripts/build_product.sh
  pingaccess/Product-staging
  pingcentral/Product-staging
  pingdatagovernance/Product-staging
  pingdatagovernancepap/Product-staging
  pingdatasync/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
  pingfederate/Product-staging
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-690: Build Nightly Delegator Snapshot Images
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  pingdelegator/Product-staging
  pingdownloader/get-snapshots.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-711: Update Product Versions to Latest Patch
  pingaccess/versions.json
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pa-pf-pd.latest, pa-cluster.latest

GDO-714: Build PingData 8.2.0.2 Images
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

- Updated copyright date for autogenerated and readme docs - Updated table generation to include closing pipe - Fixed misc. typos
  CONTRIBUTING.md
  DISCLAIMER
  README.md
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/README.md
  pingaccess/README.md
  pingcentral/README.md
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
  pingdatacommon/opt/server/lib/_script-util.sh
  pingdataconsole/README.md
  pingdatagovernance/Dockerfile
  pingdatagovernance/README.md
  pingdatagovernancepap/Dockerfile
  pingdatagovernancepap/README.md
  pingdatagovernancepap/opt/server/bin/start-server-pre-82
  pingdatasync/README.md
  pingdelegator/README.md
  pingdirectory/Dockerfile
  pingdirectory/README.md
  pingdirectoryproxy/Dockerfile
  pingdirectoryproxy/README.md
  pingdownloader/Dockerfile
  pingdownloader/README.md
  pingfederate/Dockerfile
  pingfederate/README.md
  pingintelligence/README.md
  pingintelligence/opt/server/bin/start_ase.sh
  pingtoolkit/README.md
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Resolve GDO-719
  pingfederate/Dockerfile
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

GDO-726: update PA to 6.2.1
  pingaccess/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pa-pf-pd.latest, pa-cluster.latest

Stop pingdatagovernance and pingdatagovernancepap snapshots
  .gitlab-ci.yml
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Build PingData 8.2.0.3 images and update Tomcat
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-730: Build PingFederate 10.1.5
  pingfederate/versions.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

Combine ENV statements in Dockerfiles
  apache-jmeter/Dockerfile
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Revert "Combine ENV statements in Dockerfiles"
  apache-jmeter/Dockerfile
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

update the template velocimacro to support a strict mode
  integration_tests/pa-pf-pd.postman_collection.json
  pingaccess/opt/staging/instance/conf/template/heartbeat.page.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingdirectoryproxy, b.pingdatasync, b.pingdatagovernance, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

Combine ENV lines in Dockerfiles again
  apache-jmeter/Dockerfile
  ci_scripts/deploy_docs.sh
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Don't create SECRETS_DIR if it doesn't exist
  pingcommon/opt/build.sh
  pingcommon/opt/staging/hooks/pingsecrets.lib.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Testing github actions
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-736: Create PF/PA Beta Images
  pingaccess/versions.json
  pingfederate/versions.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest, pa-cluster.latest

Cleanup for image reference docs
  ci_scripts/deploy_docs.sh
  pingauthorize/Dockerfile
  pingdatagovernance/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Moving HEALTCHECK into individual Dockerfiles
  apache-jmeter/Dockerfile
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingbase/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Fix port section rendering, baseimage
  ci_scripts/deploy_docs.sh
  pingaccess/Dockerfile
  pingauthorize/Dockerfile
  pingauthorizepap/Dockerfile
  pingcentral/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingintelligence/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Add PingCentral Support for 1.7
  pingcentral/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence
