Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

d.pingdownloader:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdownloader

b.apache-jmeter:
  stage: products
  script:
  - ci_scripts/build_product.sh --product apache-jmeter

t.apache-jmeter:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product apache-jmeter

d.apache-jmeter:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product apache-jmeter

b.ldap-sdk-tools:
  stage: products
  script:
  - ci_scripts/build_product.sh --product ldap-sdk-tools

t.ldap-sdk-tools:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product ldap-sdk-tools
  variables:
    KUBERNETES_CPU_REQUEST: 1
    KUBERNETES_CPU_LIMIT: 1
    KUBERNETES_MEMORY_REQUEST: 2000000000
    KUBERNETES_MEMORY_LIMIT: 2000000000

d.ldap-sdk-tools:
  stage: deploy
  script:
  - VERBOSE=true ci_scripts/deploy_product_to_registry.sh --product ldap-sdk-tools

b.pingaccess:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingaccess

t.pingaccess:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingaccess

d.pingaccess:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingaccess

b.pingcentral:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingcentral

t.pingcentral:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingcentral

d.pingcentral:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingcentral

b.pingdirectory:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectory

t.pingdirectory:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectory
  variables:
    KUBERNETES_CPU_REQUEST: 3
    KUBERNETES_CPU_LIMIT: 3
    KUBERNETES_MEMORY_REQUEST: 4000000000
    KUBERNETES_MEMORY_LIMIT: 4000000000

d.pingdirectory:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectory

b.pingdirectoryproxy:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdirectoryproxy

t.pingdirectoryproxy:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdirectoryproxy

d.pingdirectoryproxy:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdirectoryproxy

b.pingdelegator:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdelegator

t.pingdelegator:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdelegator

d.pingdelegator:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdelegator

b.pingdataconsole:
  stage: products
  script:
  - ci_scripts/build_product.sh --product pingdataconsole

t.pingdataconsole:
  stage: test.smoke
  script:
  - ci_scripts/run_smoke.sh --product pingdataconsole

d.pingdataconsole:
  stage: deploy
  script:
  - ci_scripts/deploy_product_to_registry.sh --product pingdataconsole

Fix the documented ports for pingauthorize/pap
  pingauthorize/Dockerfile
  pingauthorizepap/Dockerfile
  pingdatagovernance/Dockerfile
Due: b.pingdirectory, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, pdg-pd.latest

container-optimized run.sh for pingcentral
  pingcentral/opt/staging/instance/bin/run.sh
Due: b.pingcentral, t.pingcentral, d.pingcentral

fix for GDO-862
  pingcommon/opt/staging/hooks/03-build-run-plan.sh
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Fix formatting for PAP login info
  pingauthorize/Dockerfile
  pingauthorizepap/Dockerfile
Due: none

Update PDG PAP doc formatting
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
Due: b.pingdirectory, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, pdg-pd.latest

GDO-863: Build and Release Delegator 4.6.0
  pingdelegator/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence

fix delegator pre-build stage
  pingdelegator/opt/build.sh.pre
Due: b.pingdelegator, t.pingdelegator, d.pingdelegator

GDO-812: Build and Release PingData 8.3.0.0
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/run_integration.sh
  integration_tests/pa-pf-pd.latest.test.yml
  integration_tests/paz-pd.latest.test.yml
  integration_tests/pd-replicated.latest.test.yml
  integration_tests/pdg-pd.latest.test.yml
  integration_tests/pdp-pd.latest.test.yml
  integration_tests/pds-pd.latest.test.yml
  integration_tests/pi-basic.test.yml
  pingauthorize/versions.json
  pingauthorizepap/versions.json
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
  pingtoolkit/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Add Authorize docs to PDG dockerfiles
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
Due: b.pingdirectory, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, pdg-pd.latest

GDO-871: Fix Manual Input Logic in Deploy Scripts
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-846: PingFederate admin base URL
  pingbase/Dockerfile
  pingcommon/opt/staging/hooks/04-check-variables.sh
  pingfederate/opt/staging/instance/bin/oidc.properties.subst.default
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-862: fix for persistent volumes
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-814: Build and Release PingFederate 10.3.0
  pingdownloader/gte-bits-repo.json
  pingfederate/Product-staging
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pa-pf-pd.latest

limit the find scope to elimiate sporadic errors
  pingcommon/opt/build.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-867: Tag Snapshot Images Verbosely
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-873: Build and Release PF 10.2.4
  pingfederate/versions.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

Revert GDO-873: Build and Release PF 10.2.4
  pingfederate/versions.json
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

GDO-881: fix pa console liveness
  pingaccess/opt/liveness.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

GDO-864: Build and Release PA 6.3.0
  pingaccess/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pa-pf-pd.latest, pa-cluster.latest

FIPS
  ci_scripts/build_fips_local.sh
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/first-time-ping-dev-machine-install.sh
  ci_scripts/whatip.sh
  integration_tests/.gitlab-ci.yml
  integration_tests/pa-pf-pd-FIPS.latest.test.yml
  integration_tests/pa-pf-pd-FIPS.postman_collection.json
  integration_tests/pds-pd.postman_collection.json
  integration_tests/test_fips_local.yml
  pingaccess/Dockerfile
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingaccess/opt/staging/instance/conf/fips.properties.subst.default
  pingaccess/versions.json
  pingcommon/Dockerfile
  pingcommon/opt/build.sh
  pingcommon/opt/entrypoint.sh
  pingcommon/opt/staging/hooks/pingcommon.lib.sh
  pingdatacommon/opt/server/lib/_script-util.sh
  pingdatacommon/opt/staging/hooks/185-apply-tools-properties.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/Dockerfile
  pingdirectory/opt/liveness.sh
  pingdirectory/versions.json
  pingfederate/Dockerfile
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
  pingfederate/versions.json
  pingjvm/build-jvm.sh
  pingjvm/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Re-hide stderr from ldapsearch in waitUntilLdapUp
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-875: Publish PingIntelligence 5.0
  pingintelligence/versions.json
Due: b.pingintelligence, t.pingintelligence, d.pingintelligence, pi-basic.latest

GDO-880: Build and Release PingCentral 1.8
  pingcentral/opt/staging/instance/bin/run.sh
  pingcentral/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence

GDO-883: Build and Release PingData 8.2.0.5
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-877: Use Docker Manifests for Multi-Arch Images
  .gitlab-ci.yml
  apache-jmeter/.gitlab-ci.yml
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ci_scripts/ci_tools.lib.sh
  ci_scripts/cleanup_acr.sh
  ci_scripts/cleanup_docker.sh
  ci_scripts/deploy_manifests_to_registry.sh
  ci_scripts/deploy_product_to_registry.sh
  ci_scripts/run_integration.sh
  ci_scripts/unmerged_changes.sh
  ldap-sdk-tools/.gitlab-ci.yml
  pingaccess/.gitlab-ci.yml
  pingaccess/versions.json
  pingauthorize/.gitlab-ci.yml
  pingauthorize/versions.json
  pingauthorizepap/.gitlab-ci.yml
  pingauthorizepap/versions.json
  pingcentral/.gitlab-ci.yml
  pingcentral/versions.json
  pingdataconsole/.gitlab-ci.yml
  pingdataconsole/versions.json
  pingdatagovernance/.gitlab-ci.yml
  pingdatagovernance/versions.json
  pingdatagovernancepap/.gitlab-ci.yml
  pingdatagovernancepap/versions.json
  pingdatasync/.gitlab-ci.yml
  pingdatasync/versions.json
  pingdelegator/.gitlab-ci.yml
  pingdelegator/versions.json
  pingdirectory/.gitlab-ci.yml
  pingdirectory/versions.json
  pingdirectoryproxy/.gitlab-ci.yml
  pingdirectoryproxy/versions.json
  pingdownloader/.gitlab-ci.yml
  pingfederate/.gitlab-ci.yml
  pingfederate/versions.json
  pingintelligence/.gitlab-ci.yml
  pingtoolkit/.gitlab-ci.yml
  pingtoolkit/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-877: Use Docker Manifests for Multi-Arch Images
  ci_scripts/deploy_manifests_to_registry.sh
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-877: Use Docker Manifests for Multi-Arch Images
  ci_scripts/deploy_manifests_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-877: Use Docker Manifests for Multi-Arch Images
  ci_scripts/ci_tools.lib.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-888: Use Default Shim in Snapshot Pipeline
  apache-jmeter/Dockerfile
  ci_scripts/build_foundation.sh
  ci_scripts/build_product.sh
  ldap-sdk-tools/Dockerfile
  pingaccess/Dockerfile
  pingauthorize/Dockerfile
  pingauthorizepap/Dockerfile
  pingcentral/Dockerfile
  pingdataconsole/Dockerfile
  pingdatagovernance/Dockerfile
  pingdatagovernancepap/Dockerfile
  pingdatasync/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
  pingfederate/Dockerfile
  pingtoolkit/Dockerfile
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-889: Fix HTTP Connection Closed Docker Push Error
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-887: Sign Docker Manifests for Docker Content Trust
  ci_scripts/before_script.sh
  ci_scripts/deploy_manifests_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-887: Sign Docker Manifests for Docker Content Trust
  ci_scripts/deploy_manifests_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-887: Sign Docker Manifests for Docker Content Trust
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_manifests_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-901: Build and Release PingAccess 6.2.2
  pingaccess/versions.json
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingdirectory, b.pingfederate, pa-pf-pd.latest, pa-cluster.latest

Resolve GDO-862
  pingcommon/opt/staging/hooks/06-copy-product-bits.sh
  pingfederate/Product-staging
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-906: Quiet Unzip to Reduce GitLab Log Size
  apache-jmeter/Product-staging
  ci_scripts/first-time-ping-dev-machine-install.sh
  ldap-sdk-tools/Product-staging
  pingaccess/Product-staging
  pingaccess/opt/staging/hooks/51-add-engine.sh
  pingauthorize/Product-staging
  pingauthorizepap/Product-staging
  pingcentral/Product-staging
  pingdataconsole/Product-staging
  pingdatagovernance/Product-staging
  pingdatagovernancepap/Product-staging
  pingdatasync/Product-staging
  pingdelegator/Product-staging
  pingdirectory/Product-staging
  pingdirectoryproxy/Product-staging
  pingfederate/Product-staging
  pingintelligence/Product-staging
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-907: Prepend Tail Output with Logfile Name
  pingcommon/opt/entrypoint.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-913: Build and Release PingData 8.3.0.1
  pingauthorize/versions.json
  pingauthorizepap/versions.json
  pingdataconsole/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, pingdatagovernance/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingintelligence: any of: pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/pa-pf-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/pds-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/pdp-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdg-pd.latest: any of: integration_tests/**/pdg-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-cluster.latest: any of: integration_tests/**/pa-cluster*, pingbase/**/*, pingcommon/**/*, pingaccess/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pi-basic.latest: any of: integration_tests/**/pi-basic*, pingbase/**/*, pingcommon/**/*, pingintelligence/**/*, ci_scripts/*, .gitlab-ci.yml
