Repository pingidentity/pingidentity-docker-builds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Path conditions:
  d.pingdownloader: any of: pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  b.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.apache-jmeter: any of: pingdownloader/**/*, apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.apache-jmeter: any of: apache-jmeter/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.ldap-sdk-tools: any of: pingdownloader/**/*, ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.ldap-sdk-tools: any of: ldap-sdk-tools/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, integration_tests/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  t.pingaccess: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingjvm/*, ci_scripts/*, .gitlab-ci.yml
  d.pingaccess: any of: pingaccess/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingcentral: any of: pingcentral/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectory: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingaccess/**/*, pingdatasync/**/*, pingdirectory/**/*, pingfederate/**/*, pingdatagovernance/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectory: any of: pingdirectory/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdirectoryproxy: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdirectoryproxy: any of: pingbase/**/*, pingdownloader/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdirectoryproxy: any of: pingdirectoryproxy/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingdelegator: any of: pingdownloader/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdelegator/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingdelegator: any of: pingdelegator/**/*, pingbase/**/*, pingcommon/**/*, ci_scripts/*, .gitlab-ci.yml
  b.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdataconsole: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdataconsole: any of: pingdataconsole/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, pingdirctory/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatasync: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatasync: any of: pingdatasync/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernance: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernance: any of: pingdatagovernance/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingdatagovernancepap: any of: pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, pingdownloader/**/*, pingdatagovernancepap/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingdatagovernancepap: any of: pingdatagovernancepap/**/*, pingcommon/**/*, pingdatacommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingfederate: any of: pingfederate/**/*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingdownloader/**/*, integration_tests/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingfederate: any of: pingfederate/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  t.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  d.pingtoolkit: any of: pingtoolkit/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  b.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  t.pingintelligence: any of: integration_tests/pi-*, pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, pingdownloader/**/*, ci_scripts/*, .gitlab-ci.yml
  d.pingintelligence: any of: pingintelligence/**/*, pingcommon/**/*, pingbase/**/*, ci_scripts/*, .gitlab-ci.yml
  pd-repl.latest: any of: integration_tests/**/pd-replicated*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-pf-pd.latest: any of: integration_tests/**/pa-pf-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingaccess/**/*, pingdirectory/**/*, pingfederate/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pds-pd.latest: any of: integration_tests/**/pds-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatasync/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdp-pd.latest: any of: integration_tests/**/pdp-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdirectoryproxy/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pdg-pd.latest: any of: integration_tests/**/pdg-pd*, pingbase/**/*, pingcommon/**/*, pingdatacommon/**/*, pingdirectory/**/*, pingdatagovernance/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pa-cluster.latest: any of: integration_tests/**/pa-cluster*, pingbase/**/*, pingcommon/**/*, pingaccess/**/*, ci_scripts/*, pingjvm/*, .gitlab-ci.yml
  pi-basic.latest: any of: integration_tests/**/pi-basic*, pingbase/**/*, pingcommon/**/*, pingintelligence/**/*, ci_scripts/*, .gitlab-ci.yml

Update 80-post-start.sh to handle mismatch of seed due to pingDirectory-0 restarting and it's pvc lost
  pingdirectory/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Move the check from 80-post-start.sh to pingdata.lib.sh
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
  pingdirectory/opt/staging/hooks/80-post-start.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-741: Create PingData 8.3-EA images
  pingauthorize/versions.json
  pingauthorizepap/versions.json
  pingdataconsole/versions.json
  pingdatasync/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Resolve GDO-649
  pingdataconsole/opt/staging/hooks/02-get-remote-server-profile.sh.post
Due: b.pingdataconsole, t.pingdataconsole, d.pingdataconsole

prune parallel utility
  pingauthorizepap/Dockerfile
  pingbase/Dockerfile
  pingcommon/opt/build.sh
  pingcommon/opt/entrypoint.sh
  pingdatagovernancepap/Dockerfile
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

patch the script to accept a parameter but default to current behavior
  pingcommon/opt/watch-fs-changes
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Missed Dockerfile changes for pingauthorize images
  pingauthorize/Dockerfile
  pingauthorizepap/Dockerfile
Due: none

Custom lib/_start-server.sh for performance
  pingdatacommon/opt/server/lib/_start-server.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Add Tail log in PingdataConsole for docker log command
  pingdataconsole/Dockerfile
Due: b.pingdataconsole, t.pingdataconsole, d.pingdataconsole

Include jdb in pingjvm
  pingjvm/build-jvm.sh
Due: b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

Documentation typos
  ldap-sdk-tools/Dockerfile
  pingauthorize/Dockerfile
  pingbase/Dockerfile
  pingdelegator/Dockerfile
  pingdirectory/Dockerfile
  pingdirectoryproxy/Dockerfile
Due: b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Add meta title to doc generation, allowing for optimizing Search engine results
  ci_scripts/deploy_docs.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Rewrite PingData server.pid on restart
  pingdatacommon/opt/server/lib/_start-server.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

Remove TODO being printed to container output
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-775: Define Publication Registries Per Product and Version
  apache-jmeter/versions.json
  ci_scripts/ci_tools.lib.sh
  ci_scripts/deploy_product_to_registry.sh
  ldap-sdk-tools/versions.json
  pingaccess/versions.json
  pingauthorize/versions.json
  pingauthorizepap/versions.json
  pingcentral/versions.json
  pingdataconsole/versions.json
  pingdatagovernance/versions.json
  pingdatagovernancepap/versions.json
  pingdatasync/versions.json
  pingdelegator/versions.json
  pingdirectory/versions.json
  pingdirectoryproxy/versions.json
  pingfederate/versions.json
  pingintelligence/versions.json
  pingtoolkit/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

GDO-777: Build PingDirectory 8.2.0.4 Image
  pingdirectory/versions.json
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-775: Define Publication Registries Per Product and Version
  ci_scripts/deploy_product_to_registry.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

add default logging for pindDataConsole when no server profile is called
  pingdataconsole/opt/staging/instance/webapps/console/WEB-INF/classes/application.yml.subst
Due: b.pingdataconsole, t.pingdataconsole, d.pingdataconsole

GDO-768: Release PingDelegator 4.5.0
  pingdelegator/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence

PingDataGovernance: TAIL_LOG_FILES defaults
  pingdatagovernance/Dockerfile
Due: b.pingdirectory, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, pdg-pd.latest

GDO-810: Build and Release PingFederate 10.2.3
  pingdownloader/gte-bits-repo.json
  pingfederate/versions.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence, pa-pf-pd.latest

Cleanup file ownerships
  pingcommon/opt/build.sh
  pingcommon/opt/build.sh.post
  pingcommon/opt/staging/hooks/09-build-motd.sh
  pingintelligence/opt/liveness.sh
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Fixed GDO-829 - Problem when there are spaces in ROOT_USER_DN - Double quoting now
  pingdatacommon/opt/staging/hooks/pingdata.lib.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

PAZ/DG - Supply more relevant logs to Docker
  pingauthorize/Dockerfile
  pingdatagovernance/Dockerfile
Due: b.pingdirectory, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, pdg-pd.latest

Don't require pre-setup directory in pd.profile
  pingdirectory/opt/staging/hooks/20-restart-sequence.sh
Due: b.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

GDO-835: Move Latest Version of DA to 4.4.1
  pingdelegator/versions.json
Due: b.pingdelegator, t.pingdelegator, d.pingdelegator

GDO-840: Fix Snapshot Image Pipeline to Build Downloader
  ci_scripts/build_product.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

support local file system override for console
  pingdataconsole/Product-staging
  pingdownloader/get-bits.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence

update the behavior with bouncycastle
  pingfederate/Dockerfile
  pingfederate/opt/server/bin/run.sh
  pingfederate/opt/staging/instance/bin/run.properties.subst.default
Due: b.pingaccess, b.pingdirectory, b.pingfederate, t.pingfederate, d.pingfederate, pa-pf-pd.latest

turn up opinonatedness on Docker
  pingdatacommon/opt/server/lib/_script-util.sh
Due: b.pingaccess, t.pingaccess, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest

a simple script to push from snapshots to other ECR repos
  ci_scripts/push-from-ecr.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

This commit fixes issues found in FAT
  pingcommon/opt/build.sh
  pingcommon/opt/staging/hooks/05-expand-templates.sh
  pingdelegator/Dockerfile
  pingdelegator/nginx.conf
  pingdelegator/opt/staging/hooks/02-get-remote-server-profile.sh.post
  pingdelegator/opt/staging/hooks/04-check-variables.sh
  pingdelegator/opt/staging/hooks/50-before-post-start.sh
  pingdelegator/opt/staging/instance/etc/nginx.conf.subst
  pingdelegator/opt/staging/instance/logs/access.log
  pingdelegator/opt/staging/instance/logs/error.log
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

full java args customization via environment variables in PF
  pingcommon/opt/entrypoint.sh
  pingcommon/opt/staging/hooks/80-post-start.sh
  pingfederate/Dockerfile
  pingfederate/opt/server/bin/run.sh
  pingfederate/opt/staging/hooks/80-post-start.sh
  pingfederate/opt/staging/hooks/81-after-start-process.sh
  pingfederate/opt/staging/hooks/85-import-configuration.sh
  pingfederate/opt/staging/instance/bin/jvm-memory.options.subst.default
  pingfederate/opt/staging/instance/server/default/conf/log4j2.xml.subst.default
Due: b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

prune out the security edit upon build
  pingjvm/build-jvm.sh
Due: b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest

update to 6.0.0
  ldap-sdk-tools/versions.json
  pingdownloader/gte-bits-repo.json
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, b.pingcentral, t.pingcentral, b.pingdirectory, t.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, b.pingfederate, t.pingfederate, b.pingtoolkit, t.pingtoolkit, b.pingintelligence, t.pingintelligence

Resolve GDO-857 "Jmeter heap percentage"
  apache-jmeter/Dockerfile
  apache-jmeter/opt/server/bin/run.sh
  pingbase/Dockerfile
Due: b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest

Resolve GDO-858 "Pingaccess heap container aware"
  ci_scripts/shfmt.sh
  pingaccess/Dockerfile
  pingaccess/opt/server/bin/run.sh
  pingaccess/opt/staging/instance/conf/jvm-memory.options.subst.default
  pingfederate/opt/server/bin/run.sh
Due: d.pingdownloader, b.apache-jmeter, t.apache-jmeter, d.apache-jmeter, b.ldap-sdk-tools, t.ldap-sdk-tools, d.ldap-sdk-tools, b.pingaccess, t.pingaccess, d.pingaccess, b.pingcentral, t.pingcentral, d.pingcentral, b.pingdirectory, t.pingdirectory, d.pingdirectory, b.pingdirectoryproxy, t.pingdirectoryproxy, d.pingdirectoryproxy, b.pingdelegator, t.pingdelegator, d.pingdelegator, b.pingdataconsole, t.pingdataconsole, d.pingdataconsole, b.pingdatasync, t.pingdatasync, d.pingdatasync, b.pingdatagovernance, t.pingdatagovernance, d.pingdatagovernance, b.pingdatagovernancepap, t.pingdatagovernancepap, d.pingdatagovernancepap, b.pingfederate, t.pingfederate, d.pingfederate, b.pingtoolkit, t.pingtoolkit, d.pingtoolkit, b.pingintelligence, t.pingintelligence, d.pingintelligence, pd-repl.latest, pa-pf-pd.latest, pds-pd.latest, pdp-pd.latest, pdg-pd.latest, pa-cluster.latest, pi-basic.latest
